body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    font-family: 'Elice DX Neolli', sans-serif; /* 웹폰트 적용 */
}

.center-container {
    text-align: center;
}

h1 {
    margin-bottom: 20px; /* h1 요소와 버튼 사이의 간격 조정 */
}

#prayButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#prayButton:hover {
    background-color: #2980b9;
}
